/* elementos html */

body {
	margin: 0;
	padding: 0;
	background-color: #CCCCCC;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #666;
}

a {
	text-decoration: none;
	color: #54689B;
}
a:hover {
	text-decoration: underline;
}
a img {
	border: 0;
}

form {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1 {
	font-size: 160%;
	color: #54689B;
	margin: 10px 0 10px 15px;
}

.ajuda-acces{
	position: absolute;
	left: -500px;
	width: 50px;
	font-size:1px; 
	line-height:1%;
}

/* layout principal */

#web {
	width: 778px;
	margin: 0px;	
	background-color: #FFFFFF;
	background-repeat: repeat-y;
	background-position: top left;
}


.form_search_input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	
}
.form_search_select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003366;
	
}

#final {
	border-top: solid 1px #666666;
	width: 778px;
	clear: both;
	height: 100px;	
	background-color: #F2F2F2;	
}

/* toporevista */

#toporevista {
	background-image: url(http://www.revistaphp.com.br/imgs/menu/f_topo.gif);
	background-repeat: no-repeat;
	background-position: top left;
	float: left;
	width: 778px;	
	height: 106px;
}

#publicidade {

	background-image: url(http://www.revistaphp.com.br/imgs/topo/f_pub.gif);
	background-repeat: repeat-x;
	background-position: top left;
	float: left;
	width: 778px;	
	height: 116px;
}
#publicidade img{
	
	padding: 10px 8px 10px 0px;
	float: right;
	width: 728px;	
	height: 90px;
}

#publicidade div{
	margin: 10px 0px 0px 45px;
	background:#FFFFFF;
	float: left;
	width: 728px;	
	height: 90px;
}

#toporevista p#login {
	text-align: right;
	margin: 5px 0;
	padding-right: 10px;
}

#toporevista div.120x60 
{
	padding:10px 100px 10px 10px;
	width:120px;
	height:60px;
	background:#CCCCCC;
	overflow:inherit;

}
#toporevista p#login a {
	color: #666;
}

#toporevista a#logo {
	float: left;
	margin: 5px 0 0 10px;
}

#toporevista a#banner {
	float: right;
	margin: 25px 10px 0px 0px;
}


#toporevista form {
	float: left;
	width: 320px;
	margin: 11px 0 0 55px;
	display: inline;
	padding: 25px 0 0 0;
}
#toporevista form p {
	margin: 0;
	padding-top: 3px;
}
#toporevista form input {
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

#toporevista form select {
	vertical-align: middle;
	padding: 2px 2px 2px 2px;
}

#toporevista form input#sbi {
	border: 1px solid #67686A;
}
#toporevista form p input {
	vertical-align: middle;
	margin-left: 15px;
}
#toporevista form p a {
	margin-left: 80px;
	color: #67686A;
}
#toporevista form label img {
	vertical-align: middle;
}

/* menu normal */




/* final */

#final ul {
	float: left;
	width: 590px;
	margin-left: 150px;
	display: inline;
	padding-top: 6px;
}
#final ul li {
	display: inline;
	margin-right: 5px;
	padding-right: 6px;
	border-right: 1px solid #9E9FA1;	
	font-size: 90%;
}
#final ul li.ultimo-lista {
	margin: 0;
	padding: 0;
	border: 0;
}
#final a {
	font-weight: bold;
}

#final #idioma {
	float: left;
	width: 150px;
	margin: 0;
	padding-top: 6px;
}

/* submenus home */

ul.submenu {
	padding: 2px 0 2px 10px;	
}
ul.submenu li {
	display: inline;
	margin-right: 5px;
	padding-right: 6px;
	border-right: 1px solid #fff;
}
ul.submenu li a {
	color: #666;
}
ul.submenu li.texto a {
font-weight:bold;
}
ul.submenu li.ultimo-lista {
	border: 0;
	padding: 0;
	margin: 0;
}


/* Destaque  */


#Destaque {
	width: 585px;
	margin:10px 0px 10px 10px;
	float: left;
	
	background-position: bottom;
	background-repeat: no-repeat;
}

/* caja hoy */

#Cabecalho {
	width: 765px;
	float: left;
}
#Cabecalho ul.submenu {
	background-color: #B9DCFA;	
}
#DestaqueFundo {
	background:#F2F2F2;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 0px 0px 0px 0px;
	float: left;
	width: 762px;
	height:90px;
}

#Cabecalho h2 {
	background-image: url(http://www.revistaphp.com.br/imgs/menu/f_destaque_azul.gif);
	background-repeat: repeat-x;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#Cabecalho h2 span {
	margin-left: 150px;
	font-size: 10px;
	color: #CAE4F9;
}
#DestaqueFundo div.programa-hoy a.imagem {
	float: left;
	margin-right: 10px;
	width: 52px;
}
#DestaqueFundo div.DestaqueTexto a.imagem {
	float: left;
	margin-right: 10px;
}
#DestaqueFundo div.programa-hoy {
	background-repeat: repeat-x;
	border-bottom: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	float: left;
	width: 465px;
	margin: 6px 0 0 0;	
	padding: 5px 0 4px 7px;
	position: relative;
}
#DestaqueFundo div.programa-hoy a.vermas {
	position: absolute;
	top: 8px;
	right: 15px;
	padding-right: 13px;
	background-repeat: no-repeat;
	background-position: 100% 4px;
}
#DestaqueFundo div.programa-hoy h4 {
	margin: 4px 0 0 0;
	font-size: 110%;
}
#DestaqueFundo div.programa-hoy p {
	margin: 0;
}
div.DestaqueTexto {
	float: left;
	width: 755px;
	padding: 5px 0px 5px 5px;
	
}
div.DestaqueTexto h3 {
	font-size: 130%;
	margin: 0 0 7px 0;
}
div.DestaqueTexto p.descricao-corta {
	font-size: 100%;
	margin-right: 10px;
	line-height: 140%;
	font-style: italic;
	margin: 0 0 3px 0;
	text-align: justify;	
}
div.DestaqueTexto p.descricao {
	font-size: 100%;
	margin-right: 10px;
	line-height: 140%;
	margin: 0 0 10px 0;
	text-align: justify;
}

div.DestaqueTexto p.vermas {
	margin: 2px 0 0 50px;
	padding-left: 13px;
	background-repeat: no-repeat;
	background-position: 0 4px;
	font-size: 110%;
}


#novidades-foro {
	width: 585px;
	float: left;
	margin: 0px 0px 10px 10px;
	background-position: bottom;
	background-repeat: no-repeat;
}

#opcoes_artigos {
	width: 764px;
	float: left;
	margin: 0px 0px 10px 10px;
	background-position: bottom;
	background-repeat: no-repeat;
}

/* Coluna de Artigos */

#novidades {
	width: 765px;
	float: left;
}
#novidades ul.submenu {
	background-color: #BCE497;
}
#novidades-content div.descricao{
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 5px 7px 4px 7px;
	float: inherit;
	width: 749px;
	font-style:normal; left:inherit;
	
}
#novidades-content div.descricao{
	
	font-size:11px;
	text-align:left;
	
}

#novidades-content h2
{
	font-size: 16px;
}
#novidades-minharevista {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 5px 7px 4px 7px;
	float: left;
	width: 324px;
	 height:1875px;  
}

#novidades h2 {
	background-image: url(http://www.revistaphp.com.br/imgs/f_verde.gif);
	background-repeat: repeat-x;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 5px 10px;
}

#interacao h2 {
	background-image: url(http://www.revistaphp.com.br/imgs/f_cinza.gif);
	background-repeat: repeat-x;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 5px 10px;
}

#novidades h2 span {
	margin-left: 118px;
	font-size: 60%;
	color: #F5C2D5;
}
#novidades h3 {
	font-size: 100%;
	margin: 0;
}
#novidades h3 span {
	color: #FF9602;
}
#novidades div.novedad {
	clear: both;
	padding: 6px 5px 7px 5px;
	margin: 0;
/*	background-image: url(http://www.revistaphp.com/imgs/img.gif); */
	background-repeat: repeat-x;
	background-position: bottom;
	width: 743px;
	float: left;
	display: inline;
}

#novidades div.ultimo {
	background-image: none;
}
#novidades div.nombre-descricao {
	float: left;
	width: 310px;
}

#novidades div.nombre-descricao img {
	width: 17px;
	height: 16px;
	padding: 0px 5px 0px 0px;
}
#novidades div.nombre-descricao span {
	font-weight: bold;
	color:#FF6600;
	width: 17px;
	height: 16px;
	padding: 0px 5px 0px 0px;
}
#novidades div.nombre-descricao p {
	text-align: left;
}
#novidades div.dados {
	float: left;
	width: 110px;
}
#novidades p {
	margin: 10px;
	margin-bottom:30px;	
	text-align: left;
	border-left-width:thin;
}

#novidades p.licencia {
	font-weight: bold;
}

#novidades div.opcoes_artigos {
	margin-left:10;
}

/* caja top */

#top {
	width: 230px;
	float: left;
	margin-left: 10px;
	display: inline;
}
#top ul.submenu {
	background-color: #FEEC9A;
}
#autenticacao {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 10px 7px 4px 7px;
	background:#F2F2F2;
	height:70px;
}

#top h2 {
	background-image: url(http://www.revistaphp.com.br/imgs/menu/f_login.gif);
	background-repeat: repeat-x;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 5px 10px;
}

#top table {
	width: 211px;
}
#top table td {
	padding: 3px 0;
/*	background-image: url(http://www.revistaphp.com/imgs/img.gif); */
	background-repeat: repeat-x;
	background-position: bottom;
}
#top table tr.ultimo td {
	background-image: none;
}
#top table td.puesto {
	font-weight: bold;
	color: #FF9602;
}
#top table td.descargado {
	text-align: right;
}
#top table td a {
	font-weight: bold;
}
/* Mais visitados */
#maisvisitados {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 5px 7px 4px 7px;
	float: left;
	width: 213px;
	margin-bottom:10px;
}


#ColunistasFoto {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	padding: 5px 7px 4px 7px;
	float: left;
	width: 213px;
	margin-bottom:10px;
}
#ColunistasFoto img{

	width: 60px;
	height: 75px;
	padding: 3px 3px 3px 3px;

}

#foro {
	width: 229px;
	float: left;
	margin-left: 10px;
	display: inline;
/*	border:#CCCCCC solid 1px; */
}
#foro ul.submenu {
	background-color: #FFBFB4;
}



#foro h2 {
	background-image: url(http://www.revistaphp.com.br/imgs/f_vermelho.gif);
	background-repeat: repeat-x;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#foro h3 {
	font-size: 100%;
	margin: 0;
}
#foro h3 span {
	font-weight: normal;
}
#foro div.post {
	clear: both;
	padding: 5px;
	margin: 0;
	width: 202px;
	float: left;
	display: inline;
}
#foro div.par {
	background-color: #F3F3F3;
}
#foro div.ultimo {
	background-image: none;  
}
#foro p {
	margin: 0;
}
#foro p.respuestas {
	float: left;
	width: 110px;	
}

#foro p.visitas {
	float: right;
	width: 80px;	
	text-align: right;
}


/*  */
#codigos {
	width: 229px;
	float: left;
	margin-left: 10px;
	display: inline;
/*	border:#CCCCCC solid 1px; */
}
#codigos ul.submenu {
	background-color: #CCCCCC;
}



#codigos h2 {
	background-image: url(http://www.revistaphp.com.br/imgs/f_cinza.gif);
	background-repeat: repeat-x;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	margin: 0;
	padding: 5px 0 5px 10px;
}
#codigos h3 {
	font-size: 100%;
	margin: 0;
}
#codigos h3 span {
	font-weight: normal;
}
#codigos div.post {
	clear: both;
	padding: 5px;
	margin: 0;
	width: 202px;
	float: left;
	display: inline;
}
#codigos div.par {
	background-color: #F3F3F3;
}
#codigos div.todos {
	background:#CCCCCC;
	height:15px;
	padding: 0px 5px 0px 5px;  
}
#codigos p {
	margin: 0;
}
#codigos p.respuestas {
	float: left;
	width: 110px;	
}

#codigos p.visitas {
	float: right;
	width: 80px;	
	text-align: right;
}

/* ficha programa */

div.destacado {
	float: left;
	width: 733px;
	background-color: #EEF3F6;
	margin: 10px 0;	
}

#ficha {
	width: 701px;
	float: left;
	border: 1px solid #D5D5D5;
	border-top: 0;
	padding-left: 16px;
	padding-right: 16px;
}
#ficha h1 {
	margin: 10px 0 2px 0;
}

p.descricao-corta {
	font-size: 130%;
	margin: 0 0 15px 0;
}
p.limitacao {
	background-color: #EEF3F6;
	padding: 15px;
	width: 671px;
}
#publi-ficha-descr {
	float: right;
	margin: 0 10px 10px 10px;
	display: inline;
	width: 200px;
	height: 200px;
	border: #e5e5e5 solid 1px;
}

div.descricao {
	clear:both;
	padding-top: 12px;
}
div.descricao p{
	margin: 0 0 14px 0;
}


#mas_info {
	clear: both;
	float: left;
	width: 732px;
	margin: 15px 0 0 1px;
	display: inline;
}

#todas-opiniao {
	clear: both;
	float: left;
	width: 100%;
	margin: 15px 0 0 1px;
	display: inline;
}

#mas_info-content {
	border: 1px solid #E7E7E7;
	float: left;
	width: 730px;
}
#mas_info h2 {
/*	background-image: url(http://www.revistaphp.com/imgs/img.gif); */
	background-repeat: no-repeat;
	background-color: #FEEC9A;
	font-size: 140%;
	color: #fff;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 22px 10px;	
}

#todas-opiniao h2 {
/*	background-image: url(http://www.revistaphp.com/imgs/img.gif); */
	background-repeat: no-repeat;
	background-color: #FEEC9A;
	font-size: 140%;
	color: #fff;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 22px 10px;	
}


#mas_info h3 {
	background-color: #EEF3F6;
	font-size: 140%;
	padding: 4px 0 4px 20px;
	margin: 15px 0 20px 0;
	float: left;
	width: 710px;
	display: inline;
}

#todas-opiniao h3 {
	background-color: #EEF3F6;
	font-size: 140%;
	padding: 4px 0 4px 20px;
	margin: 30px 0 20px 0;
	float: left;
	width: 100%;
	display: inline;
}

#mas_info h4 {
	font-size: 100%;	
	margin: 0;
}

#todas-opiniao h4 {
	font-size: 100%;	
	margin: 0;
}


div.opinion, div.alternativo {
	float: left;
	width: 690px;
	margin: 0 20px;
	display: inline;
}

div.opinion span.val {
	float: left;
	margin: 25px 0 0 10px;
	display: inline;
}
div.alternativo span.val{
	float: left;
	margin: 15px 0 0 10px;
	display: inline;
}
div.alternativo p.licencia {
	float: left;
	margin: 0;
	display: inline;	
	width: 80px;
	text-align: center;
	padding-top: 10px;
}
div.opinion div {
	float: left;
	width: 528px;
/*	background-image: url(http://www.revistaphp.com/imgs/img.gif); */
	background-repeat: repeat-x;
	background-position: bottom;
	margin-left: 8px;
	display: inline;
	
	padding: 15px 5px;
	background-color: #F6F6F6;
	
}
div.alternativo div.ext {
	float: left;
	width: 525px;
/*	background-image: url(http://www.revistaphp.com/imgs/img.gif); */
	background-repeat: repeat-x;
	background-position: bottom;
	margin-left: 8px;
	display: inline;
	padding-top: 10px;
	padding: 10px 5px;
	background-color: #F6F6F6;
}
div.alternativo div.ext div {
	float: left;
	width: 420px;
}
div.opinion div.par, div.alternativo div.par {
	background-color: #fff;
}
div.opinion div p, div.alternativo div div p {
	margin: 3px 0 0 0;
}


a.seta_todos {		
	padding-right: 18px;
	background-image: url(http://www.revistaphp.com.br/imgs/seta_todos.gif);
	background-position: right 50%;
	background-repeat: no-repeat;	
	font-size: 100%;	
}


#publi-ficha-opi {
	float: left;
	width: 728px;
	margin: 0 0 0 0;
}
#publi-ficha-opi img {
	margin: 0 auto;
	display: block;
}


.valoraopi {
font-size: 200%;
}


.centrartr{
	width: 65px;	
	text-align: center;
}

#comentarios_tiluto {
padding-left:5px;
padding-right:5px;
padding-top:3px;
width:730px;
height:20px;
border-top: solid 1px #CCCCCC;
border-left: solid 1px #CCCCCC;
border-right: solid 1px #CCCCCC;
margin-top:5px;
margin-bottom:1px;
margin-left:5px;
margin-right:5px;
background:#DBDBDB;
}
#comentarios_nome {
padding-left:5px;
padding-right:5px;
width:730px;
height:15px;
border-left: solid 1px #CCCCCC;
border-right: solid 1px #CCCCCC;
margin-top:0px;
margin-left:5px;
margin-right:5px;
background:#F0F0F0;
}
#comentarios_texto {
padding-left:5px;
padding-right:5px;
width:730px;
height:auto;
border-left: solid 1px #CCCCCC;
border-right: solid 1px #CCCCCC;
border-bottom: solid 1px #CCCCCC;
margin-top:0px;
margin-left:5px;
margin-bottom:10px;
margin-right:5px;
background:#FFFFFF;
}
/* ------------------------------------------------ */

#barradireita { position:absolute; left:775px; top:0px; color:#333; height:680px; background-color:#FFF; width:176px; padding:5px 7px 5px 5px; margin:0px 0px 0px 6px; float:left }
#barradireita div { background:url(http://www.revistaphp.com.br/imgs/barra_boxf.gif) #F0F0F0 repeat-x; background-position:0px 27px; width:100%; margin-bottom:10px; padding-bottom:10px; border:1px solid #A6A3A3; }
#barradireita div h2 { color:#003366; border-bottom:1px solid #003366; margin-bottom:10px; font-size:11px; padding-left:5px; font-weight:bold; background:url(http://www.revistaphp.com.br/imgs/barra_fundo1.gif) #F2F1F2 repeat-x; line-height:27px; height:27px; }
#barradireita div ul { list-style:none; }

#barradireita div.BarraBox h2 { background:url(http://www.revistaphp.com.br/imgs/index/barra_lateral.jpg) no-repeat; }
#barradireita div.BarraBox h2 a { display:block; width:100%; height:30px; }
#barradireita div.BarraBox h2 a span { display:none; }
#barradireita div.BarraBox ul { padding:0px; list-style:none; }
#barradireita div.BarraBox ul li { margin:3px; padding:5px; background-color:#FFF;  color:#333; }
#barradireita div.BarraBox ul li a { display:block; font-weight:bold;  color:#807B7B; text-decoration:underline; }
#barradireita div p { margin:5px; }

#barradireita div.eventosBox ul { list-style:none; margin-left:5px; margin-right:5px; }
#barradireita div.eventosBox ul>li { padding-top:5px; }
#barradireita div.eventosBox ul li span { display:block; }
#barradireita div.eventosBox ul li a { font-weight:bold; color:#000; text-decoration:underline; }
#barradireita div.eventosBox ul li span.data { color:#116CC3; }
#barradireita div.eventosBox p.eventosLink { margin-top:5px; }
#barradireita div.eventosBox p.eventosLink a { color:#FF6600; }

#barradireita div.faqBox form { padding:10px; }
#barradireita div.faqBox form select { margin-bottom:8px; width:150px; font-size:10px; }
#barradireita div.faqBox form input.text { width:100px; font-size:11px; margin-right:5px; float:left; }
#barradireita div.faqBox form input.submit { width:40px; background-color:#2E69A0; border:1px solid #7F9DB9; color:#FFF; line-height:20px; height:20px; font-size:11px; }
#barradireita div.faqBox form p { margin:0px; }
#barradireita div.faqBox span { display:block; text-align:center; }
#barradireita div.faqBox span strong { color:#F68603; }



#barradireita div.adBox { padding:0px; overflow:hidden; }
#barradireita div.adBox img { border:0px; }

#barradireita div.rssBox ul li { margin:0px 0px 10px 7px; }
#barradireita div.rssBox ul li a { color:#000; text-decoration:underline; }
#barradireita div.rssBox p a { font-weight:bold; text-decoration:underline; }


#barradireita div.numBox ul li { background-color:#FFF; margin:0px 5px 1px 5px; padding:5px; }
